
$black: #000000;
$green-deep: green;
$red-deep: red;
$sunsetOrange-approx: #ff564e;
$medium-carmine-approx: #ab3434;
$malibu-approx: #6eb9ff;
$malibu-approx-transparent: #6eb9ff2b;
$dodgerBlue-approx: #1890ff;
$doveGray-approx: #6e6e6e;
$mercury-approx: #e1e1e1;
$mercury-solid: #e5e5e5;
$alabaster-deep: #fafafa;
$jade-approx: #07be66;
$porcelain-approx: #f8fafa;
$boulder-approx: #757575;
$lilyWhite-approx: #e6f7ff;
$brightGray-approx: #343b4c;
$seashell-solid: #f1f1f1;
$paleSky-approx: #6a6f7b;
$athensGray-approx: #eef2f4;
$scienceBlue-approx: #0070d7;
$mineShaft-approx: #262626;
$malachite-approx: #1ecb4e;



$default: #fff;
$gray-solid:#808080
