@import "./colors";

body {
  margin: 0;
}
.App {
  min-width: 1024px;
}
a {
  text-decoration: none;
  color: $doveGray-approx;
}
p {
  margin: 0;
}
h1,
h2 {
  font-size: 1.25rem;
  font-weight: 500;
}
.success-dialog {
  color: $doveGray-approx;
}
.error-dialog {
  color: $medium-carmine-approx;
}
:focus {
  outline: none;
}
#dialogTitle h2 {
  display: flex;
  justify-content: space-between;
}
.btn {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background: transparent;
  border: 1px solid $malibu-approx;
  border-radius: 5px;
  color: $malibu-approx;
  padding: 6px 30px;
  margin-left: 10px;
  cursor: pointer;
  &:hover:not(.btn-diasbled) {
    background: $malibu-approx;
    color: $default;
  }
  &.btn-green {
    border-color: $jade-approx;
    color: $jade-approx;
    border-radius: 7px;
    padding: 6px 15px;
    &:hover {
      background: $jade-approx;
      color: $default;
    }
  }
  &.btn-add {
    border-color: $jade-approx;
    color: $jade-approx;
    border-radius: 5px;
    padding: 4px 9px;
    &:hover {
      background: $jade-approx;
      color: $default;
    }
  }
  &.btn-save {
    padding: 10px 9px;
  }
  &.filter-btn {
    padding: 6px 7px;
  }
  &.btn-diasbled {
    background: $mercury-approx;
    color: $default;
    cursor: not-allowed;
  }
}
.pointer {
  cursor: pointer;
}

.inputError {
  border: 1px solid red;
}
.ui-kit-dropdown {
  padding: 0 !important;
}

.documentEdit {
  .dropDown {
    .ui-kit__control {
      height: 42px;
      padding: 0;
    }
  }
}
